.trabajadores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.trabajador {
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.trabajador img {
  border-radius: 50%;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  background: #dc3545;
  box-shadow: 16px -16px 33px #bb2d3b, -16px 16px 33px #fd3d4f;
  height: 12rem;
  width: 12rem;
  margin-bottom: 1rem;
}

.trabajador h3 {
  font-size: 1.5rem;
  text-emphasis: "*";
  -webkit-text-emphasis: "*";
}
