.trabajadores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}

.trabajador {
  align-items: center;
  align-self: center;
  margin-bottom: 30px;
}

.trabajador img {
  display: flex;
  border-radius: 50%;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  background: #dc3545;
  box-shadow: 16px -16px 33px #bb2d3b, -16px 16px 33px #fd3d4f;
  height: 12rem;
  width: 12rem;
  margin-bottom: 1rem;
}

.trabajador h3 {
  font-size: 1.5rem;
  text-emphasis: "*";
  -webkit-text-emphasis: "*";
}
