/* CARRUSEL DE IMAGENES */

#inicio .carousel-item {
	height: 900px;
}

#inicio .carousel-item img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	min-height: 900px;
}

#inicio .carousel-item h5 {
	font-size: 5rem;
	padding-bottom: 300px;
}

#inicio .carousel-item p {
	font-size: 2rem;
}

#inicio .carousel-caption h5 {
	font-weight: bold;
	font-size: 1.2em;
}

#inicio .carousel-caption p {
	font-size: 1em;
}

/* SECCION MAIN */

#inicio .main h1 {
	font-size: 4rem;
	font-weight: 700;
	color: white;
}
#inicio .main {
	background-image: url("../../../assets/images/menu.jpg");
	background-size: cover;
	height: 100vh;
	background-position: 50% 50%;
	width: 100%;
}

#inicio .btn1 {
	height: 45px;
	width: 35%;
	border: none;
	outline: none;
	background-color: rgb(248, 26, 92);
	color: white;
	font-weight: 700;
	border-radius: 60px;
}
#inicio .btn1:hover {
	background-color: rgb(138, 48, 75);
	transition: 0.5s;
}
#inicio h1 {
	font-weight: 700;
}

#inicio .card:hover {
	box-shadow: -3px -2px 25px -5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -3px -2px 25px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -3px -2px 25px -5px rgba(0, 0, 0, 0.75);
	transition: 1s;
}

/* TESTIMONIOS*/
#inicio .foto {
	border-radius: 100px;
	width: 200px;
	height: 200px;
}

* {
	box-sizing: border-box;
}

#inicio .card {
	background-color: initial;
	margin: 20px;
}

#inicio .card-principal {
	border-radius: 2px;
	box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.5);
}

#inicio .card:hover {
	margin: 20px;
	border-radius: 2px;
	box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.5);
}

#inicio .card-principal > .card {
	background: #f3f2f2;
}

#inicio .card-body {
	padding-left: 50px;
	padding-right: 50px;
}

#inicio .card-body > h5 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
}

#inicio .col {
	text-align: justify;
}

#inicio main {
	max-width: 800px;
	width: 100%;
	margin: auto;
	padding: 40px;
}

/* DESTACADOS*/

@media (min-width: 576px) {
	#inicio .carousel-caption h5 {
		font-size: 3rem;
	}
	#inicio .carousel-caption p {
		font-size: 1.1em;
	}
}
@media (min-width: 768px) {
	#inicio .carousel-caption h5 {
		font-size: 3rem;
	}
	#inicio .carousel-caption p {
		font-size: 1.6em;
	}
}
@media (min-width: 992px) {
	#inicio .carousel-caption h5 {
		font-size: 4rem;
	}
	#inicio .carousel-caption p {
		font-size: 1.8em;
	}
}
@media (min-width: 1200px) {
	#inicio .carousel-caption h5 {
		font-size: 5rem;
	}
	#inicio .carousel-caption p {
		font-size: 2rem;
	}
}
