* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.bg-red-600 {
	background-color: #b02a37;
}
.bg-red-700 {
	background-color: #842029;
}
.bg-red-800 {
	background-color: #58151c;
}

.search {
	height: 40px;
	width: 80%;
	border-radius: 60px;
	outline: none;
	margin-right: -35px;
	font-family: "Rubik", sans-serif;
	border: 2px solid rgb(248, 26, 92);
}
.btn0 {
	height: 40px;
	width: 40%;
	outline: none;
	border: none;
	background: rgb(248, 26, 92);
	color: white;
	border-radius: 60px;
	font-weight: 700;
}

/* SECCION MAIN */
/* 
.main h1 {
	font-size: 4rem;
	font-weight: 700;
	color: white;
}
.main {
	background: url(../img/menu.jpg);
	background-size: cover;
	height: 100vh;
	background-position: 50% 50%;
	width: 100%;
} */
/* .btn1 {
	height: 45px;
	width: 35%;
	border: none;
	outline: none;
	background-color: rgb(248, 26, 92);
	color: white;
	font-weight: 700;
	border-radius: 60px;
}
.btn1:hover {
	background-color: rgb(138, 48, 75);
	transition: 0.5s;
}
h1 {
	font-weight: 700;
} */

.card:hover {
	box-shadow: -3px -2px 25px -5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -3px -2px 25px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -3px -2px 25px -5px rgba(0, 0, 0, 0.75);
	transition: 1s;
}

/* ACERCA  */

/* .acerca {
	background: Linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(../img/plato.jpg) no-repeat;
	background-size: cover;
	height: 80vh;
	width: 100%;
}
.acerca h1 {
	font-family: "Lobster", cursive;
} */

.fas {
	font-size: 1.5rem;
}
.fab {
	font-size: 1.5rem;
}

.btn2 {
	height: 46px;
	width: 100px;
	background: white;
	margin-left: -10px;
	border: 2px solid white;
	font-weight: 600;
}

.img-logo {
	width: 25%;
}
.img-logo:hover {
	width: 30%;
	background-color: #ae434d;
}
.img-logo_footer {
	margin: 0%;
	margin-top: 20px;
	width: 20vw;
}

.navbar-collapse {
	flex-grow: 0;
	padding: 10px;
}
.navbar-toggler {
	padding: 0.75rem 0.85rem;
}
.navbar-toggler:focus {
	box-shadow: none;
	background-color: #ae434d;
}
.nav-link,
.nav-link:hover,
.nav-link:focus {
	color: aliceblue;
}
.nav-item {
	padding: 5px;
}
.nav-link {
	margin: 5px;
	padding: 20px;
	margin-bottom: -5px;
}

.svg-home {
	margin-right: 8px;
}
.nav-link > p {
	display: inline-block;
	margin: 0;
	margin-top: 0px;
}
.nav-item:hover {
	font-size: 18px;
	background-color: #ae434d;
}
.nav-item:focus-within {
	font-size: 18px;
	background-color: #e35d6a;
}
nav {
	opacity: 0.9;
}
p {
	margin: 0%;
	padding: 0%;
}
.div-item {
	align-self: center;
	text-align-last: right;
}
.div-item .navbar-collapse > .navbar-nav {
	width: 100%;
}
.redes-sociales {
	margin: 0%;
	margin-top: 155px;
	padding: 10px;
	position: fixed;
	display: inline-block;
}

.a-width {
	width: 40px;
}
.a-width > .fab {
	text-align: center;
}

.fixed-top {
	transition-timing-function: ease-in;
	transition-property: initial;
	transition-duration: 5s;
}
.no-fixed-top {
	position: relative;
	transition-timing-function: ease-in-out;
	transition-property: inherit;
	transition-duration: 5s;
}

.img-fluid {
	z-index: -1;
}

.icon-carrito {
	font-size: 19px;
}

@media (min-width: 0px) {
	.redes-sociales {
		opacity: 0.8;
		margin-top: 115px;
		width: 45px;
	}
	.a-width {
		width: 20px;
		height: 25px;
	}
	.a-width > .fab {
		font-size: 10px;
	}
	.img-logo {
		width: 18%;
	}
}

@media (min-width: 576px) {
	.redes-sociales {
		z-index: 100 !important;
		opacity: 0.8;
		margin-top: 115px;
		width: 45px;
	}
	.a-width {
		width: 20px;
		height: 25px;
	}
	.a-width > .fab {
		font-size: 10px;
	}
	.img-logo {
		width: 17%;
	}
}
@media (min-width: 768px) {
	.redes-sociales {
		margin-top: 100px;
	}
	.img-logo {
		width: 13%;
	}
}

@media (min-width: 992px) {
	.redes-sociales {
		margin-top: 125px;
	}
	.img-logo {
		width: 40%;
	}
}
@media (min-width: 1200px) {
	.redes-sociales {
		margin-top: 110px;
	}
	.img-logo {
		width: 35%;
	}
}
